body{
	background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
}
#content{
	text-align: center;
	padding-top: 25%;
	color: white;
	text-shadow: 0px 8px 12px rgba(0,0,0,0.4),
	             0px 18px 14px rgba(0,0,0,0.1),
	             0px 10px 23px rgba(0,0,0,0.1);
}

.btn{
	background-color: white;
	color: black;
}
hr{
	color: white;
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
h1{
	font-weight: 700;
	font-size: 5em;
}

html{
	height: 100%;
}
